<div style= "text-align:center">
<img src= "<%=@image%>">
</div>

<div style= "text-align:center">
<p><%=@scenario%></p>
</div>

<div style= "text-align:center">
<a href= <%= "/direction/" + @option1 %> > <%= @option1%> </a>
<br>
<br>
<br>
<a href= <%= "/direction/" + @option1 %> > <%= @option2%> </a>
</div>