<link rel="stylesheet" type="text/css" href="style.css">
<style>
body {
        background-image: url("<%=@websitesettings[0]%>");
        background-size: cover;
}
</style>



<div style= "text-align:center">
<p><%=@websitesettings[1]%></p>
</div>

<div style= "text-align:center">
<a href= <%= "/direction/" + @websitesettings[2] %> > <%= @websitesettings[2]%> </a>
<br>
<br>
<br>
<a href= <%= "/direction/" + @websitesettings[3] %> > <%= @websitesettings[3]%> </a>
</div>